[submodule "devcontainer-features"]
	path = devcontainer-features
	url = https://github.com/ridhwaans/devcontainer-features.git
	branch = main
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/ridhwaans/dotfiles.git
	branch = main
